.searchbar-section {
    width:100%
}

.result-card {
    max-height:260px;
    height:260px;
    color: black
}

.thumbnail-container {
    height:160px
}

.thumbnail-image {
    vertical-align: center; 
    max-height:100px;
    height:100px
}

.provenance {
    margin-left:14px
}

.no-result {
    margin-bottom: 24px
}
